<!-- views/inventory/detail.ejs -->
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/navigation') %>
  <main>
    <%- vehicleHTML %>
  </main>
  <%- include('../partials/footer') %>
</body>